/*  Labels
------------------------------------ */

.ajax-tabs-labels {
	display: none;
}
.ajax-tabs-label.ajax-tab-active {
	position: static;
}

/*  Panel Labels
------------------------------------ */

.ajax-tabs-panel-label {
	display: table;
	padding: 10px 15px;
	width: 100%;
}

/*  Panels
------------------------------------ */

.ajax-tabs-panel {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.ajax-tabs-panel:last-child {
	border-bottom: none;
}
.ajax-tabs-panel-content {
	padding: 0 15px 15px 15px;
}

/*  Horizontal
------------------------------------ */

.ajax-tabs-horizontal .ajax-tabs-label {
	float: none;
}
.ajax-tabs-horizontal .ajax-tabs-label.ajax-tab-active {
	border: none;
	padding: 10px 15px;
}

/*  Vertical
------------------------------------ */

.ajax-tabs-vertical .ajax-tabs-labels {
	float: none;
	width: auto;
}
.ajax-tabs-vertical .ajax-tabs-label.ajax-tab-active {
	border: none;
	padding: 10px 15px;
}
.ajax-tabs-vertical .ajax-tabs-panels {
	float: none;
	width: auto;
}
